.titleForm {
   text-align: center;
   margin: 2rem 0;
}

.coursesList {
   width: 40%;
   margin: 2rem auto;
   margin-top: 0.3rem;
   border-collapse: collapse;
}

.coursesList thead th {
   color: #fff;
   background-color: #333;
   text-align: center;
   padding: 7px;
}

.coursesList tbody td {
   text-align: center;
   padding: 7px;
}

.coursesList tbody tr {
   cursor: pointer;
   border-bottom: 1px solid #cacaca;
}

.coursesList tbody tr:hover {
   background-color: rgb(221, 221, 221);
}

.searchField {
   margin: 2rem auto;
   margin-top: 0rem;
   margin-bottom: 0rem;
   width: 40%;
   border: 2px solid rgb(155, 155, 155);
}

.coursesBox {
   text-align: center;
}
 