.titleForm {
   text-align: center;
   margin: 2rem 0;
}

.membersList {
   width: 30%;
   margin: 2rem auto;
   margin-top: 0.3rem;
   border-collapse: collapse;
}

.membersList thead th {
   color: #fff;
   background-color: #333;
   text-align: center;
   padding: 7px;
}

.membersList tbody td {
   text-align: center;
   padding: 7px;
}

.membersList tbody tr {
   cursor: pointer;
   border-bottom: 1px solid #cacaca;
}

.membersList tbody tr:hover {
   background-color: rgb(221, 221, 221);
}

.searchField {
   margin: 2rem auto;
   margin-top: 0rem;
   margin-bottom: 0rem;
   width: 30%;
   border: 2px solid rgb(155, 155, 155);
}

.membersBox {
   text-align: center;
}
 