.container {
   width: 25rem; /* 400px / 16px (dimensione predefinita del carattere) */
   padding: 1.25rem; /* 20px / 16px */
   background-color: #f9f9f9;
   border-radius: 0.5rem; /* 8px / 16px */
   box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1); /* 10px / 16px */
   margin: auto;
}

.titleForm {
   text-align: center;
   color: #000;
   margin-bottom: 1.25rem; /* 20px / 16px */
}

form {
   margin-top: 1.25rem; /* 20px / 16px */
}

label {
   display: block;
   margin-bottom: 0.1rem;
   color: #000;
}

input {
   width: 100%;
   padding: 0.625rem; /* 10px / 16px */
   margin-bottom: 0.9375rem; /* 15px / 16px */
   border: 0.0625rem solid #ccc; /* 1px / 16px */
   border-radius: 0.25rem; /* 4px / 16px */
   box-sizing: border-box;
}

button {
   width: 100%;
   padding: 0.625rem; /* 10px / 16px */
   background-color: #333333;
   color: #fff;
   border: none;
   border-radius: 0.25rem; /* 4px / 16px */
   cursor: pointer;
}

button:hover {
   background-color: #202020;
}
